.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.markdown-app {
  height: 200vh;
  width: 100vw;
  background-color: #19282f;
  overflow-x: hidden;
}
.markdown-app .content {
  width: 50%;
  height: 100%;
  margin: auto;
  border: 2px solid #d3eca7;
  padding-top: 2em;
}
.content  h1 {
text-align: center;
color: #a1b57d;
font-size: 1.8em;
}
.content .main-section {
  width: 70%;
  margin: auto;
}
.content .main-section h3 {
  text-align: center;
  color: #a1b57d;
}